.task {
  font-weight: 700;

  &-filterBtn {
    border-radius: 3px;
  }

  &-done {
    font-weight: 400;
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.input {
  &-error {
    border: 2px solid red;
  }
}
